In [1]:
#Importing the basic libraries
import numpy as np
import pandas as pd
import csv

In [ ]:
awardData = pd.read_csv('the_oscar_award.csv')
awardData.head()

In [2]:
imdbData = pd.read_csv('imdbTop250.csv')
imdbData.head()

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4
0,1,1996,/title/tt0076759/,Star Wars: Episode IV - A New Hope,1977,121,"Action, Adventure, Fantasy",8.6,90.0,1299781,322.74,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness
1,2,1996,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.34,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
2,3,1996,/title/tt0117951/,Trainspotting,1996,93,Drama,8.1,83.0,665213,16.50,Danny Boyle,Ewan McGregor,Ewen Bremner,Jonny Lee Miller,Kevin McKidd
3,4,1996,/title/tt0114814/,The Usual Suspects,1995,106,"Crime, Drama, Mystery",8.5,77.0,1045626,23.34,Bryan Singer,Kevin Spacey,Gabriel Byrne,Chazz Palminteri,Stephen Baldwin
4,5,1996,/title/tt0108598/,The Wrong Trousers,1993,30,"Animation, Short, Comedy",8.3,NaN,53316,NaN,Nick Park,Peter Sallis,Peter Hawkins,NaN,NaN

### Creating a new column in awardData:

In [ ]:
awardData.insert(7, "Number of wins", 0)

In [ ]:
awardData.head(-1)

In [ ]:
awardData.info()

In [ ]:
title = ""
wins = 0

for i in range(0, len(awardData)):
    print(i)
    title = awardData['film'][i]
    if awardData['Number of wins'][i] > 0:
        continue
    if awardData['winner'][i] == True:
        wins += 1
    for j in range(i+1, len(awardData)):
        if awardData['film'][j] == title:
            if awardData['winner'][j] == True:
                wins += 1
    for k in range(0, len(awardData)):
        if awardData['film'][k] == title:
            awardData.at[k,'Number of wins'] = wins
    wins = 0

In [ ]:
awardData

In [ ]:
awardData.to_csv('oscarAward.csv')

In [ ]:
len(awardData.film.unique())

In [ ]:
newAwardData = awardData.drop_duplicates(subset="film", keep='first', inplace=False)

In [ ]:
newAwardData.to_csv('clean_oscarAward.csv')

In [3]:
newAwardData = pd.read_csv('clean_oscarAward.csv')
newAwardData.head()

,Unnamed: 0,year_film,year_ceremony,ceremony,category,name,film,winner,Number of wins
0,0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False,0
1,1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True,1
2,2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False,0
3,3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True,3
4,4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False,0

In [ ]:
yes = 0

for i in range(0,len(newAwardData)):
    print(i)
    try:
        for j in range(0, len(imdbData)):
            if newAwardData['film'][i] == imdbData['Title'][j]:
                yes = 1
        if yes != 1:
            newAwardData = newAwardData.drop(i)
        yes = 0
    except:
        continue

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271

In [ ]:
newAwardData.to_csv('clean_oscarIMDB.csv')